<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Financialed{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('assets/vendor/css/bootstrap.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('assets/vendor/css/font-awesome.css') }}" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{{ asset('assets/vendor/css/gentelella-app.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        {% include 'sidebar.html.twig' %}

        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="{{ asset('assets/images/user.png') }}" alt="user-image">{{ appstate.user }}
                                <span class="fa fa-angle-down"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="right_col" role="main">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="pull-right">
                Financialed
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/js/gentelella-app.js') }}"></script>
{% endblock %}
</body>
</html>
